# # list

In [3]:
student=['ali ','hamzah']
student

['ali ', 'hamzah']

In [ ]:
students =['ali' ,'hamzah', 'asad' , 'nasir']
type(students)

In [15]:
alist =[ 'karachi,' 120 , 45.5 , True ]
alist

SyntaxError: invalid syntax (<ipython-input-15-7cddff4c6a7f>, line 1)

In [16]:
students[0] indux

SyntaxError: invalid syntax (<ipython-input-16-cc071ada9f4a>, line 1)

In [17]:
students [4]

NameError: name 'students' is not defined

In [14]:
del students [2]# inplace (this function is delete and never come again)
students

NameError: name 'students' is not defined

In [ ]:
student.remove('saqib')
students

In [ ]:
students[1]='hussain'
students

In [13]:
city=[1]

In [12]:
city.append('karachi') # 2 time run
city

NameError: name 'city' is not defined

In [11]:
city.append('lahore')# 2 time run
city

NameError: name 'city' is not defined

In [10]:
city.insert (2,'sibi')#to insert value
city

NameError: name 'city' is not defined

In [9]:
city.insert(20, 'quetta')
city

NameError: name 'city' is not defined

In [8]:
city.index('quetta')# to find

NameError: name 'city' is not defined

In [ ]:
city.clear ()
city

In [ ]:
sortlist =(2.54,6,7,34,89,54)

In [ ]:
sortlist =()

In [7]:
number =[234,656,97,445,5]
number.clear()
number

[]

In [ ]:
number.sort()
number

In [4]:
number=[23,34,67.46,86,6,]# assending order
number.sort()
number

[6, 23, 34, 67.46, 86]

In [5]:
number=[23,34,67.46,86,6,]# first index become list and list index become first
number.reverse()
number

[6, 86, 67.46, 34, 23]

In [6]:
number=[23,34,67.46,86,6,]# if decending want to do this function
number.sort(reverse=True)
number

[86, 67.46, 34, 23, 6]

In [19]:
numbers =[34 ,7,87,87,90,65]

In [20]:
k=numbers#same if i use k=number
k

[34, 7, 87, 87, 90, 65]

In [22]:
numbers.append(100)
numbers

[34, 7, 87, 87, 90, 65, 100]

In [23]:
k#b/c both kare equal numbers, pass by reffrence

[34, 7, 87, 87, 90, 65, 100]

In [24]:
k.append(200)
k

[34, 7, 87, 87, 90, 65, 100, 200]

In [25]:
a=numbers.copy()# copy function how to copy

In [26]:
a

[34, 7, 87, 87, 90, 65, 100, 200]

In [30]:
a.append(500)
a

[34, 7, 87, 87, 90, 65, 100, 200, 500, 500]

In [31]:
a

[34, 7, 87, 87, 90, 65, 100, 200, 500, 500]

In [32]:
b=a[:]# similar as copy method

In [33]:
b

[34, 7, 87, 87, 90, 65, 100, 200, 500, 500]

In [34]:
k# k and a are not equal b/c a doest copy k

[34, 7, 87, 87, 90, 65, 100, 200]

In [35]:
b=numbers[:]# b is not equal to number

# list into list

In [45]:
list=[1,2,3,4,5,6,6,7,['apple','orange','mango'],['ali','hussain']]
#index0,1,2,3,4,5,6,7,     8

In [37]:
list[8]

['apple', 'orange', 'mango']

In [42]:
list

[1, 2, 3, 4, 5, 6, 6, 7, ['apple', 'orange', 'mango']]

In [43]:
list[8][2]#list ma list da ny ka function or check kr ny ka index

'mango'

In [46]:
list[9].insert(1,'zaheer')
list

[1,
 2,
 3,
 4,
 5,
 6,
 6,
 7,
 ['apple', 'orange', 'mango'],
 ['ali', 'zaheer', 'hussain']]

In [50]:
list[9].remove('zaheer')
list

[1, 2, 3, 4, 5, 6, 6, 7, ['apple', 'orange', 'mango'], ['ali', 'hussain']]

In [52]:
4 in list # find some one in list (they give true s

True

In [6]:
'mango' in list[8][3]

TypeError: 'type' object is not subscriptable

# slicing

In [12]:
list2 = ['a','b','c','d','e','f']
 #index    0    1   2   3  4   5

In [13]:
s=list2[2:4] #slicing function use this(:)

In [14]:
s

['c', 'd']

In [16]:
s=list2[:]
s

['a', 'b', 'c', 'd', 'e', 'f']

In [17]:
s=list2[4:2]
s#slicing always work left to right work

[]

# negative indexing

In [20]:
list3= ['apple','orange' ,'bananas','grapes','melon','peech','watermelon']
#index -7      -6        -5        -4       -3      -2      -1

In [22]:
s=list3[-4]
s

'grapes'

In [23]:
s=list3[-5:4]
s

['bananas', 'grapes']

In [24]:
s=list3[-5:]
s#slicing means cutting or us ny -6,-7 agar ulta cut kr na ho tu

['bananas', 'grapes', 'melon', 'peech', 'watermelon']

In [25]:
s=list3[-5:1]
s # they will not work

[]

In [26]:
s=list3[-5:-1]
s # bhai -5 sa peachay  cut kr daya or -1 cut kr daya

['bananas', 'grapes', 'melon', 'peech']

# popping function

In [30]:
list4=['asad','hamzah','ali']
a=list4.pop()
print(list4)
a#

['asad', 'hamzah']

'ali'

In [1]:
list5=['asad','hamzah','ali','zaheer','saqib']

In [2]:
popppedlist=[]

In [3]:
poppedvalue=list5.pop()
poppedlist.append(poppedvaue)

NameError: name 'poppedlist' is not defined