# Tupple function

In [4]:
myTupple = (12,13,14,"sheikh","ASAD")

In [5]:
myTupple[3]

'sheikh'

In [6]:
myTupple[3] = 'sheikh' # tupple is immutable is ka use sirf apny program ko save or unchange kr ny ky laya use karay ge ,koe isy change na kr sakay

TypeError: 'tuple' object does not support item assignment

In [7]:
city = 'khi' ,'lhr'

In [8]:
city

('khi', 'lhr')

In [10]:
city1 = ('as', 'br')

In [13]:
city = city + city1# 2 dafa run kr daya

In [14]:
city

('khi', 'lhr', 'as', 'br', 'as', 'br')

In [15]:
city.count('khi')

1

In [16]:
city.index('as',2)

2

In [17]:
square =(12,16) #packing  function

In [18]:
l,b = square # unpacking

In [19]:
l

12

In [20]:
b

16

In [2]:
name=['pakistan']

# For loops funtion

In [3]:
#reapeted again again and

In [4]:
for i in range (10):
    print(i ,'hello sheikh')

0 hello sheikh
1 hello sheikh
2 hello sheikh
3 hello sheikh
4 hello sheikh
5 hello sheikh
6 hello sheikh
7 hello sheikh
8 hello sheikh
9 hello sheikh

In [7]:
for i in range (10):
     print (i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [8]:
for i in range (0,20,2):
     print (i, end = " ")

0 2 4 6 8 10 12 14 16 18

In [9]:
for i in range (1,10):
     print (i, end = " ")

1 2 3 4 5 6 7 8 9

In [15]:
for i in range (10,0,-1):
     print (i, end = " ")

10 9 8 7 6 5 4 3 2 1

In [16]:
for i in range (20,0,-6):#range (star,end,step)
     print (i, end = " ")

20 14 8 2

In [18]:
for i in range (10,0,-1):
     print (i, end = ' ')

10 9 8 7 6 5 4 3 2 1

In [23]:
for num in [22,33,44,55,66,77,88,99]:
    print (f"the number in list is {num}")

the number in list is 22
the number in list is 33
the number in list is 44
the number in list is 55
the number in list is 66
the number in list is 77
the number in list is 88
the number in list is 99

In [25]:
students =['aa','bb','rf','po']
for mem in students:
    print (mem)

aa
bb
rf
po

In [27]:
for character in "pakistan":
    print(character)

p
a
k
i
s
t
a
n

In [43]:
for character in 'pakistan':
    print(character)

IndentationError: unexpected indent (<ipython-input-43-f0ecfa88632c>, line 2)

In [36]:
for a in range (1,10):
    if a==4:
        continue# funtion escape value
    print (a)

1
2
3
5
6
7
8
9

In [38]:
for a in range (1,10):
    if a==4:
        break# funtion doest go further value
    print (a)

1
2
3

In [54]:
friends = ['a','b','c','d']

for friend in friends:
    if friend!="d":                                       # (!= is notequal to operator)  
        print (f"come inside {friend}")
    else :
        print (f"yo dont have permission {friend}")
        continue

come inside a
come inside b
come inside c
yo dont have permission d

In [56]:
friends = ['a','b','c','d']

for friend in friends:
    if friend!="b":
        print (f"come inside {friend}")
    else :
        print (f"yo dont have permission {friend}")
        break

come inside a
yo dont have permission b

# nested for loops function

In [59]:
fName = ['nasir','Asad','kamran']
lName = ['hussain','Amin','Fazal']
for fName in lName :
    for lName in fName :
        print (fName,lName)

hussain h
hussain u
hussain s
hussain s
hussain a
hussain i
hussain n
Amin A
Amin m
Amin i
Amin n
Fazal F
Fazal a
Fazal z
Fazal a
Fazal l

In [62]:
fNames = ['nasir','Asad','kamran']
lNames = ['hussain','Amin','Fazal']
for fName in lNames :
    for lName in fNames :
        print (fName,lName)

hussain nasir
hussain Asad
hussain kamran
Amin nasir
Amin Asad
Amin kamran
Fazal nasir
Fazal Asad
Fazal kamran

In [68]:
table = int(input("enter any table :"))
for num in range (1,10):
    print(f'{table}*{num}={table*num}')

enter any table :4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

In [9]:
table = int(input("enter any table :"))
for num in range (5,-5,-1):
    print(f'{table}*{num}={table*num}')

enter any table :5
5*5=25
5*4=20
5*3=15
5*2=10
5*1=5
5*0=0
5*-1=-5
5*-2=-10
5*-3=-15
5*-4=-20

In [1]:
for table in range (2,6):
    print ("########")
    for num in range (1,11):
        print(f'{table}*{num}={table*num}')

########
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
########
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
########
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
########
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

# dictionaries

In [15]:
dic = {"name" :"hamza","age" :23,"gender":"male"}# (key, value)

In [16]:
dic

{'name': 'hamza', 'age': 23, 'gender': 'male'}

In [17]:
dic["name"]

'hamza'

In [18]:
dic["age"]

23

In [19]:
# a lsit in dictionary 

dic2 ={'name':['asad','saad','hussain'],'degree':["A","B"]}

In [20]:
dic2

{'name': ['asad', 'saad', 'hussain'], 'degree': ['A', 'B']}

In [25]:
# a dictionary in lsit

lsiting = [11,22,33,dic2]

In [26]:
lsiting

[11, 22, 33, {'name': ['asad', 'saad', 'hussain'], 'degree': ['A', 'B']}]

In [27]:
# a dictionary in dictionary

uDic ={1:"apple",2:{"time":"2pm","day":"Monday"}}

In [28]:
uDic

{1: 'apple', 2: {'time': '2pm', 'day': 'Monday'}}

In [2]:
dic = {"name" :"hamza","age" :23,"gender":"male"}

In [3]:
for key in dic.keys():
    print (key)

name
age
gender

In [5]:
for val in dic.values():
    print (val)

hamza
23
male

In [6]:
for v,k in dic.items():
    print (v,k)

name hamza
age 23
gender male

In [9]:
for key in dic.keys():
    print (dic[key])

hamza
23
male

In [18]:
dic['adress']='chaiwara'

In [22]:
dic

{'name': 'hamza',
 'age': 23,
 'gender': 'male',
 'adrees': 'chaiwara',
 'adress': 'chaiwara'}

In [4]:
eklsit = [{"a":"khi","b":"lah"},{1:1111,2:2222},dic]
eklist

NameError: name 'dic' is not defined

In [24]:
eklist

NameError: name 'eklist' is not defined

In [1]:
len(eklist)

NameError: name 'eklist' is not defined