# function

In [1]:
def calc () :               #function definition
    print ("hello piaic")

In [2]:
calc()    #first give name and braket then function calling

hello piaic

In [3]:
def abc():
    print ('a')
    print ('b')
    print ('d')

In [4]:
abc()

a
b
d

In [5]:
def sum ():
    x=2+2
    print (x)

In [6]:
sum()

4

In [7]:
def add (x,y):   # x and y are parameter
    z = x+y
    print (z)

In [8]:
add()

TypeError: add() missing 2 required positional arguments: 'x' and 'y'

In [9]:
add(3,5) # 3 and 5 are argument

8

In [10]:
# calculator
# create function with three parameters

In [11]:
def calculator (num1,num2, opr ): # (opreator are string)
    if opr == '+':
        print (num1 +num2)
    elif opr =='-':
        print (num1 -num2)
    elif opr =='/':
        print (num1 /num2)
    elif opr =='*':
        print (num1 *num2)
    else :
        print ('wrong number')

In [13]:
calculator(34,3,'-')

31

In [14]:
cities = ['khi','lhr','isb','psh']

In [15]:
def city (x):
    for i in x :
        print (i)

In [16]:
city (cities)

khi
lhr
isb
psh

In [17]:
city ('karachi')

k
a
r
a
c
h
i

In [20]:
# make a function to print even number only list 
num =[1,2,3,4,5,6,7,8,9,20]

In [21]:
def even_no (x):
    for i in x :
        if i %2 ==0:
            print (i)

In [24]:
even_no(num)

2
4
6
8
20

In [25]:
def add (x,y):
    z = x+y
    return z

In [26]:
add (2,4)
print ('-------------')

-------------

In [27]:
def add (x,y):
    z = x+y
    return z
    print (z)

In [28]:
add (2,3) # only last function run but actually not run

5

In [29]:
def add (x,y):
    z = x+y
    print (z)
    return z

In [31]:
new_a =add (2,3)
print (new_a) # last funtion  two time run it means not run

5
5

In [32]:
# make discount calculator if value is greter than 100 than 2% discount and if value is less than 100 than no discount

In [33]:
def discount (x):
    if x > 100:
        y = x + 10
        return y
    elif x< 100 :
        return x
    else :
        y = x +5
        return y

In [34]:
discount (56)

56

In [35]:
discount (567)

577

In [37]:
def full_name (fname,lname):
    print (f'my name is ,{ fname} {lname}')

In [38]:
full_name ('sheikh ','waleed')

my name is ,sheikh  waleed

In [39]:
full_name ('waleed ','sheikh')

my name is ,waleed  sheikh

In [40]:
#keyword argument

In [42]:
full_name (fname='sheikh',lname='waleed')

my name is ,sheikh waleed

In [47]:
def name (fname,mname,lname):
    print (f'my name is ,{ fname} {mname} {lname}')

In [48]:
name ('waleed ','sheikh')

TypeError: name() missing 1 required positional argument: 'lname'

In [51]:
def name (fname,lname ,mname = ''): #  (= '') default argument
    print (f'my name is ,{ fname} {mname} {lname}')

In [52]:
name ('waleed ','sheikh')

my name is ,waleed   sheikh

In [53]:
name ('sheikh','waleed', 'hussain')

my name is ,sheikh hussain waleed

In [55]:
name (fname='sheikh',lname='waleed',mname='hussain')

my name is ,sheikh hussain waleed

In [58]:
def dict():
    new_dict ={1:'karachi',2:'lahore',3:'islamabad'}
    return new_dict

a = dict ()

print (a[3])

In [60]:
#write a function that two list as an argument
list1 = [10,20,40.60,77,34,87]
list2 =[]

In [65]:
def listing (x,y):
    for i in x :
        y.append (i)
        return y

In [66]:
x = listing (list1,lsit2)

NameError: name 'lsit2' is not defined